* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.sale {
  font-size: 12px;
  color: white;
  background-color: red;
  font-weight: bold;
  display: inline-block;
  padding: 7px 15px;
  letter-spacing: 0.1em;
  position: absolute;
  top: -20px;
  left: -30px;
}

/* .container {
 
} */

h2 {
  background: #f7f7f7;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;

  grid-row: 1;
  grid-column: 1 / -1;
}

.money {
  font-size: 24px;
  /* float: left; */
}

button {
  font-size: 25px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  /* width: 825px; */
  padding: 12px;

  grid-row: 3;
  grid-column: -1 / -4;
}

button:hover {
  color: black;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  border-top: 4px solid black;
}

.Shipping {
  font-weight: bold;
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
  /* float: right; */
  /* margin-top: 8px; */
}

.details {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.black {
  background: black;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.blue {
  background-color: rgb(39, 76, 240);
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.brown {
  background: brown;
}
ul {
  margin-left: 20px;
}

/* .ready {
  clear: both;
  margin-bottom: 10px;
} */

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

li {
  list-style: square;
}

/* .img {
  /* float: left; 
} */

/* PRODUCT INFORMATION */
.middle-part {
  /* float: left;
  width: 243px; */
  flex: 1;
  margin-top: 20px;
}

.last-part {
  /* float: left;
  width: 243px; */
  flex: 1;
  margin-top: 20px;
}

.price {
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
/*
.flex-container {
  /* display: grid; 
} */

.product {
  width: 825px;
  border: 4px solid black;
  margin: 50px auto;
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}
